[Application]
name=Keywords
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
#entry_point=Keywords:main
script=Keywords.py
console=true

[Python]
version=2.7.12

[Include]
# Importable packages that your application requires, one per line
packages = os
    re
    chardet
    Kkma
    Hannanum
    collocations
    subprocess
    sys
    csv

# Other files and folders that should be installed
files = LICENSE
    data_files/